@model TerminalMVC.Models.CommandTypesResponse

@{
    ViewData["Title"] = "Home Page";
}



<body>
    <p>Отправка команды на терминал</p>
    <form method="post" class="form" asp-controller="Home">
        <div class="row">
            <div class="col">
                <p>ID Терминала(ов)</p>
                <input name="id" class="form-control idTerminal" />
            </div>
            <div class="col">
               <p>Команда</p>
                <select id="commandId" ng-model="selectItem" class="form-select" aria-label="Default select example">
                    @foreach(var item in Model.Items)
                    {
                        <option value="@item.Id" id="command" >@item.Name</option>

                    }
                    
                </select>
            </div>
        </div>
        <div id="parameters"></div>
        <div class="text-center buttons">
            <input type="submit" value="Назад" class="btn btn-secondary disabled" />
            <input type="submit" value="Отправить" class="btn btn-success" />
        </div>


        
    </form>
   
    <script src="~/js/site.js"></script>
    
    
</body>


