<div class="form-inline form-group">
    <div class="row">
        <div class="col">
            <p>@ViewBag.parameter_name1</p>
            <input id="parameter_value1" class="form-control" value="@ViewBag.parameter_default_value1" />
        </div>

        <div class="col">
            <p>@ViewBag.parameter_name2</p>
            <input id="parameter_value2" class="form-control" value="@ViewBag.parameter_default_value2" />
        </div>
    </div>
</div>